.card-category {
  background-size: cover;
  background-position:left;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $three;
  font-size: 24px;
  font-weight: bold;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  background-color: $two;
  border-radius: 5px;
}


.movie-card {
  overflow: hidden;
  color: $three;
  background-color: $two;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  display: flex;

}

.movie-card .card-text {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.movie-img {
  height: 100vh;
  width: 100vw;
}
